<app-card [card]="{ title: 'Personal Data' }" class="profile-card">
    <app-dynamic-form
        [fields]="fields"
        [form]="form"
        [isSubmitted]="isSubmitted"
        [errorSummary]="errorSummary"
        (photoSelected)="onPhotoSelected()"
        (errorSummaryChange)="onErrorSummaryChange($event)"
        (photoRemoved)="onPhotoRemoved()"
    />

    <div class="mt-4">
        <button type="button" class="card-button" [disabled]="form.invalid" (click)="onSubmit()">
            Save Changes
        </button>
    </div>
</app-card>

